@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 240 5% 25%;
    --card: 240 10% 97%;
    --card-foreground: 240 5% 25%;
    --popover: 240 10% 97%;
    --popover-foreground: 240 5% 25%;
    --primary: 283 69% 25%; /* #56146d */
    --primary-foreground: 283 69% 98%;
    --secondary: 241 75% 58%; /* #3533cd */
    --secondary-foreground: 241 75% 98%;
    --muted: 240 8% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 240 8% 90%;
    --accent-foreground: 240 5% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 283 69% 35%;
    --chart-1: 283 69% 25%;
    --chart-2: 241 75% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 240 5% 10%;
    --foreground: 240 5% 85%;
    --card: 240 5% 10%;
    --card-foreground: 240 5% 85%;
    --popover: 240 5% 10%;
    --popover-foreground: 240 5% 85%;
    --primary: 283 69% 35%;
    --primary-foreground: 283 69% 98%;
    --secondary: 241 75% 50%;
    --secondary-foreground: 241 75% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 55%;
    --accent: 240 5% 20%;
    --accent-foreground: 240 5% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 283 69% 35%;
    --chart-1: 283 70% 50%;
    --chart-2: 241 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
